# Dependencies
node_modules/

# Expo
.expo/
dist/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Native
*.hprof
.cxx/
*.xcworkspace
*.xcuserdata/

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# Env files
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build outputs
*.tsbuildinfo
apps/server/.watchman-cookie-Zain-M3-Pro.local-73608-185
